<!-- List of my saved Documents / Probably should add list of images here too -->
{% for document in object_list.items %}

  {#<p><a href="{{ url_for('documents.detail', slug=document.slug) }}">{{ document.title }}</a></p>#}

  <div class="media">
    <a href="{{ url_for('documents.detail', slug=document.slug) }}">
      <div class="media-left">
        {% if document.imageUrl %}
        {# <img src="{{document.imageUrl}}" width="100px"> #}
        <embed src="{{document.imageUrl}}"  width="200px" />
        {% else %}
          <img src="../static/images/no_image.png" width="100px">
        {% endif %}
      </div>
      <div class="media-body">
        <h4>{{document.title}}</h4>
        <p>Author: {{document.author}}</p>
        <p>Description: {{document.body}}</p>
      </div>
    </a>
  </div>
  {% else %}
  <p>No documents found</p>
{% endfor %}
